---
layout: page
title: Our Team
permalink: /our-team
comments: false
---

{% for team in site.team %}
<div class="d-flex authorbox align-items-center">
  <div class="col-md-auto mr-4 text-center">
      {% if team.avatar %}
      <img class="author-thumb" src="{{site.baseurl}}/{{ team.avatar }}" alt="{{ team.name }}">
      {% else if team.gravatar %}
      <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ team.gravatar }}?s=250&d=mm&r=x" alt="{{ team.name }}">
      {% endif %}
  </div>
  <div class="col-md-auto"> 
      <h4><a target="_blank" {% if team.web %} href="{{ team.web }}" style="color : #133DFF;"{% endif %}>About <strong>{{ team.name }}</strong></a></h4>
      {% if team.title %}<h6 style="font-size: 20px;"><i>{{ team.title }}</i></h6> {% endif %}
      {% if team.email %}<a target="_blank" href="mailto://{{ team.email }}" class="btn-sm"><i class="fas fa-envelope"></i></a>{% endif %}
      {% if team.github %}<a target="_blank" href="https://github.com:/{{ team.github }}" class="btn-sm"><i class="fab fa-github"></i></a>{% endif %}
      {% if team.twitter %}<a target="_blank" href="https://twitter.com:/{{ team.twitter }}" class="btn-sm"><i class="fab fa-twitter"></i></a>{% endif %}
      {% if team.instagram %}<a target="_blank" href="https://instagram.com:/{{ team.instagram }}" class="btn-sm"><i class="fab fa-instagram"></i></a>{% endif %}        
      {% if team.youtube %}<a target="_blank" href="https://youtube.com/channel/{{ team.youtube }}" class="btn-sm"><i class="fab fa-youtube"></i></a>{% endif %}
      {% if team.other %}<a target="_blank" href="{{ team.other }}" class="btn-sm"><i class="fab fa-other"></i></a>{% endif %}  
      <span class="author-description d-block mt-2">{{ team.bio }}</span>            
  </div>
</div>
{% endfor %}
